<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            Manage contribute
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa fa-area-chart" style="font-size:35px;color:white"></i>
                <p>Dasboard</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/QAManager/submission">
                <i class="material-icons" style="font-size:35px; color: white;">library_books</i>
                <p>All submission</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/QAManager/type">
                <i class="fa fa-pencil" style="font-size:35px;color:white"></i>
                <p>Type contribute</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/QAManager/terms">
                <i class="material-icons" style="font-size:35px;color:white">date_range</i>
                <p>Term management</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/QAManager/profile">
                <i class="fa fa-user" style="font-size:35px; color: white;"></i>
                <p>User Profile</p>
            </a>
        </li>
        <li class="nav-item active active-pro">
            <a class="nav-link active" href="/logout">
                <span class="glyphicon glyphicon-log-out" style="font-size: 16px;"></span>
                <p style="font-size: 16px;">Log out</p>
            </a>
        </li>
    </ul>
</div>